<video autoplay muted loop id="ProjectsV">
    <source src="assets/vids/projects.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  
  <div class="container-fluid">
    <p class="h1 text-center fw-bold mt-2" style="color: #FFD700;">Projects</p>
    <div class="content mt-5 fs-6 fw-bold">
      <!-- Card 1 -->
      <div class="card mb-3 hover-card">
        <img
          src="assets/imgs/proj1.png"
          class="card-img-top hover-img"
          alt="..."
          height="200px"
        />
        
        <div class="card-body">
            <a href="https://faheerk.github.io/Mid/" class="nav-link">
          <h5 class="card-title text-warning">Air University Website based On Standford University</h5>
        </a>
          <p class="card-text text-white">
            <small class="text-white-50">12 December, 2023</small>
          </p>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="card mb-3 hover-card">
        <img
          src="assets/imgs/proj2.png"
          class="card-img-top hover-img"
          alt="..."
          height="200px"
        />
        <div class="card-body">
            <a href="https://preview.themeforest.net/item/mira-responsive-sectioned-shopify-theme-for-fashion-cosmetic-plant-pottery-and-pet-store/full_screen_preview/20877536?_ga=2.147984567.1017994599.1736511254-857790018.1736511254" class="nav-link">
          <h5 class="card-title text-warning">E Commerece Store</h5>
            </a>
          <p class="card-text text-white">
            <small class="text-white-50">01 January, 2025</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <navbar></navbar>
  