<video autoplay muted loop id="SkillsV">
    <source src="assets/vids/skills.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
  <div class="container-fluid">
    <p class="h1 text-center fw-bold mt-2" style="color: #FFD700;">Skills</p>
    <div class="content mt-5 fs-6 fw-bold">
      <div class="card transparent-card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-8 d-flex align-items-center ">
                <i class="fab fa-angular fa-lg me-2 text-danger"></i>
                Working with Angular from Past One Year
              </div>
              <div class="col-md-4 text-end">
                2024
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card transparent-card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-8 d-flex align-items-center">
                <i class="fab fa-node fa-lg me-2 text-success"></i>
                Working with Node From Past One Year
              </div>
              <div class="col-md-4 text-end">
                2024
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card transparent-card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-8 d-flex align-items-center">
                <i class="fas fa-code fa-lg me-2 text-primary"></i>
                Grip On Html CSS and Bootstrap
              </div>
              <div class="col-md-4 text-end">
                2024
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card transparent-card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-8 d-flex align-items-center">
                <i class="fas fa-file-word fa-lg me-2 text-primary"></i>
                Microsoft Office Word Certified Specialist
              </div>
              <div class="col-md-4 text-end">
                2021
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card transparent-card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-md-8 d-flex align-items-center">
                <i class="fas fa-file-powerpoint fa-lg me-2 text-warning"></i>
                Microsoft Office PowerPoint Certified Specialist
              </div>
              <div class="col-md-4 text-end">
                2022
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <navbar></navbar>
  