<video autoplay muted loop id="ExperienceV">
    <source src="assets/vids/experience.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  
  <div class="container-fluid">
    <p class="h1 text-center fw-bold mt-2" style="color: #FFD700;">Experience</p>
    <div class="content mt-5 fs-6 fw-bold">
      <!-- Card 1 -->
      <div class="card mb-3 hover-card">
        <img
          src="assets/imgs/google.png"
          class="card-img-top hover-img"
          alt="..."
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title text-warning">Google</h5>
          <p class="card-text">
            Project Lead for Machine Learning and Deep Learning Projects to
            integrate Ai in Google Apps
          </p>
          <p class="card-text text-white">
            <small class="text-white-50">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="card mb-3 hover-card">
        <img
          src="assets/imgs/microsoft.png"
          class="card-img-top hover-img"
          alt="..."
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title text-warning">Microsoft Corporation</h5>
          <p class="card-text">
            Project Member at Microsoft Corporation for Web Development of Their
            Apps and Sites
          </p>
          <p class="card-text text-white">
            <small class="text-white-50">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <navbar></navbar>
  